[project]
	description = Repo for testing purposes
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Solracq (solracq)
[access "refs/for/refs/*"]
	read = group user/Solracq (solracq)
	push = group user/Solracq (solracq)
	label-Code-Review = -2..+2 group user/Solracq (solracq)
	label-Verified = -1..+1 group user/Solracq (solracq)
	rebase = group user/Solracq (solracq)
	removeReviewer = group user/Solracq (solracq)
	submit = group user/Solracq (solracq)
[access "refs/heads/*"]
	read = group user/Solracq (solracq)
	create = group user/Solracq (solracq)
	push = +force group user/Solracq (solracq)
	pushMerge = group user/Solracq (solracq)
[access "refs/tags/*"]
	push = +force group user/Solracq (solracq)
	pushTag = group user/Solracq (solracq)
	pushSignedTag = group user/Solracq (solracq)
